div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.head{
  color: white;
}
.nothead{
  color: black;
}
button{
  margin: 10px;
  font-size: larger;
  padding: 9px;
}
.classchange{
  background-color: aqua;
}
.classnotchange{
  background-color: rgb(13, 15, 13);
}